In [8]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [9]:
df = pd.read_csv('../data-csv/icecream.csv')
df

    obs   cons  price  income  temp  week
0     1  0.386  0.270      78    41     1
1     2  0.374  0.282      79    56     2
2     3  0.393  0.277      81    63     3
3     4  0.425  0.280      80    68     4
4     5  0.406  0.272      76    69     5
5     6  0.344  0.262      78    65     6
6     7  0.327  0.275      82    61     7
7     8  0.288  0.267      79    47     8
8     9  0.269  0.265      76    32     9
9    10  0.256  0.277      79    24    10
10   11  0.286  0.282      82    28    11
11   12  0.298  0.270      85    26    12
12   13  0.329  0.272      86    32    13
13   14  0.318  0.287      83    40    14
14   15  0.381  0.277      84    55    15
15   16  0.381  0.287      82    63    16
16   17  0.470  0.280      80    72    17
17   18  0.443  0.277      78    72    18
18   19  0.386  0.277      84    67    19
19   20  0.342  0.277      86    60    20
20   21  0.319  0.292      85    44    21
21   22  0.307  0.287      87    40    22
22   23  0.284  0.277      94    32    23
23   24  0.326  0.285      92    27    24
24   25  0.309  0.282      95    28    25
25   26  0.359  0.265      96    33    26
26   27  0.376  0.265      94    41    27
27   28  0.416  0.265      96    52    28
28   29  0.437  0.268      91    64    29
29   30  0.548  0.260      90    71    30

In [10]:
model = smf.ols(data=df, formula='cons~income+price+temp').fit()
model.params.round(2)

Intercept    0.20
income       0.00
price       -1.04
temp         0.00
dtype: float64

$$
DW = \frac{\sum\limits_{t=2}^{n}(e_t-e_{t-1})^2}{\sum\limits_{t=1}^{n}e_t^2}
$$

In [11]:
# вычислим знаменатель
resSq = sum(model.resid**2)

In [12]:
# Вычислим числительно
sum_resid = 0
for i in range(len(model.resid)-1):
    sum_resid+=(model.resid[i+1]-model.resid[i])**2

In [13]:
sum_resid/resSq

1.0211693122833503

In [14]:
# LM/BG Тест

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Consumption.csv')
df

     Unnamed: 0        yd      ce
0             1   59505.0   57168
1             2   59717.4   55464
2             3   59039.1   56332
3             4   61342.6   55836
4             5   60544.6   54488
..          ...       ...     ...
195         196  390576.6  359372
196         197  391381.5  363896
197         198  389502.6  364428
198         199  388282.1  366224
199         200  388804.1  371236

[200 rows x 3 columns]

In [34]:
df['log_yd'] = np.log(df['yd'])
df['log_ce'] = np.log(df['ce'])
mdl = smf.ols(data=df.diff(), formula='log_yd~log_ce').fit()
mdl.resid

1      0.008827
2     -0.023126
3      0.035603
4     -0.009987
5     -0.004025
         ...
195    0.000028
196   -0.008526
197   -0.011302
198   -0.010909
199   -0.009642
Length: 199, dtype: float64

In [28]:
res0 = mdl.resid
res_1 = mdl.resid
res_1[1] = 0
res_2 = res_1
res_2[2] = 0 
res_3 = res_2
res_3[3] = 0
res_3

1      0.000000
2      0.000000
3      0.000000
4     -0.009987
5     -0.004025
         ...
195    0.000028
196   -0.008526
197   -0.011302
198   -0.010909
199   -0.009642
Length: 199, dtype: float64

In [40]:
df['res0'] = mdl.resid
df['res1'] = df['res0']
df['res1'][1].dell()
df['res2'] = df['res1']
df['res2'][2] = 0
df['res3'] = df['res2']
df['res3'][3] = 0
df.dropna()

AttributeError: 'numpy.float64' object has no attribute 'dell'

In [38]:
mdl2 = smf.ols(data=df, formula='res0~res1+res2+res3+log_yd.diff()+log_ce.diff()').fit()

In [60]:
model.resid

0     0.070876
1     0.016225
2    -0.000822
3     0.020327
4     0.002744
5    -0.062482
6    -0.065302
7    -0.054316
8    -0.013605
9     0.003672
10    0.015137
11    0.011598
12    0.020628
13    0.007550
14    0.004922
15   -0.005686
16    0.051493
17    0.027975
18   -0.031579
19   -0.057986
20   -0.006677
21   -0.016681
22   -0.045612
23    0.028651
24   -0.004864
25    0.006781
26    0.002730
27   -0.001929
28   -0.002758
29    0.078986
dtype: float64

In [59]:
res0 = model.resid.drop(labels = [0],axis = 0)
res0

1     0.016225
2    -0.000822
3     0.020327
4     0.002744
5    -0.062482
6    -0.065302
7    -0.054316
8    -0.013605
9     0.003672
10    0.015137
11    0.011598
12    0.020628
13    0.007550
14    0.004922
15   -0.005686
16    0.051493
17    0.027975
18   -0.031579
19   -0.057986
20   -0.006677
21   -0.016681
22   -0.045612
23    0.028651
24   -0.004864
25    0.006781
26    0.002730
27   -0.001929
28   -0.002758
29    0.078986
dtype: float64

In [61]:
res1 = res0.drop(level=[0],axis=0)
res2 = res1.drop(level=[0],axis=0)

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'